@font-face {
    font-family:"Super";
    src: url(Super\ Cosmic\ Personal\ Use.ttf);
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #107E7D;
    text-align: center;
}

#starter{
    font-family: "Super";
    font-size: 100px;
    height: 500px;
    width: 500px;
    border-radius: 25%;
}

