html{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    background: black;
    border: 2px solid gray;

    align-content:end;
    justify-content: center;
}

.display{
    height: 20vh;
    width: 30vw;
    background: gray;
}

.calcbody{
    height: 75vh;
    width: 20vw;
    background-color: white;

}